#shiphawk_type_of_product_value {
    display: none;
}

.type_link:hover {
    text-decoration: underline;
    cursor: pointer;
}

#type_product {
    position: absolute;
    z-index: 99;
    background-color: #ffffff;
}

.shiphawk-shipping-adminhtml-shipment-newshipment .wrapper .header, .shiphawk-shipping-adminhtml-shipment-newshipment .wrapper .footer, .shiphawk-shipping-adminhtml-shipment-newshipment .wrapper .notification-global {
    display: none!important;
}
.shiphawk-shipping-adminhtml-shipment-newshipment .wrapper .middle {
    min-height: 200px!important;
}
.shiphawk-shipping-adminhtml-shipment-newshipment .wrapper {
    min-height: 200px!important;
    min-width:360px!important;
}

.submitshiphawk_button {
    margin-top: 20px;
    padding: 2px;
}

label[for=shiphawk_origin_firstname]:after, label[for=shiphawk_origin_lastname]:after, label[for=shiphawk_origin_addressline1]:after, label[for=shiphawk_origin_city]:after,
label[for=shiphawk_origin_state]:after, label[for=shiphawk_origin_zipcode]:after, label[for=shiphawk_origin_phonenum]:after, label[for=shiphawk_origin_email]:after{
    color: red;
    content: "*";
}