<?xml version="1.0"?>
<config>
    <modules>
        <Shiphawk_Shipping>
            <version>1.0.0</version>
        </Shiphawk_Shipping>
    </modules>
    <global>
        <models>
            <shiphawk_shipping>
                <class>Shiphawk_Shipping_Model</class>
            </shiphawk_shipping>
        </models>
        <blocks>
            <shiphawk_shipping>
                <class>Shiphawk_Shipping_Block</class>
            </shiphawk_shipping>
            <adminhtml>
                <rewrite>
                    <sales_order_view>Shiphawk_Shipping_Block_Adminhtml_Sales_Order_View</sales_order_view>
                    <sales_order_shipment_view>Shiphawk_Shipping_Block_Adminhtml_Sales_Order_Shipment_View</sales_order_shipment_view>
                </rewrite>
            </adminhtml>
        </blocks>
        <resources>
            <shiphawk_setup>
                <setup>
                    <module>Shiphawk_Shipping</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </shiphawk_setup>
        </resources>
        <helpers>
            <shiphawk_shipping>
                <class>Shiphawk_Shipping_Helper</class>
            </shiphawk_shipping>
        </helpers>
        <events>
            <admin_system_config_changed_section_carriers>
                <observers>
                    <shiphawk_shipping_config_save>
                        <type>singleton</type>
                        <class>shiphawk_shipping/observer</class>
                        <method>configSaveAfter</method>
                    </shiphawk_shipping_config_save>
                </observers>
            </admin_system_config_changed_section_carriers>
            <sales_order_place_after>
                <observers>
                    <shiphawk_shipping_order_place>
                        <type>singleton</type>
                        <class>shiphawk_shipping/observer</class>
                        <method>salesOrderPlaceAfter</method>
                    </shiphawk_shipping_order_place>
                </observers>
            </sales_order_place_after>
        </events>
        <fieldsets>
            <sales_convert_quote>
                <shiphawk_api_id>
                    <to_order>*</to_order>
                </shiphawk_api_id>
            </sales_convert_quote>
            <sales_convert_quote_item>
                <shiphawk_api_id>
                    <to_order_item>*</to_order_item>
                </shiphawk_api_id>
            </sales_convert_quote_item>
        </fieldsets>
    </global>
    <frontend>
        <routers>
            <Shiphawk_Shipping>
                <use>standard</use>
                <args>
                    <module>Shiphawk_Shipping</module>
                    <frontName>shiphawk</frontName>
                </args>
            </Shiphawk_Shipping>
        </routers>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <shiphawk_shipping>
                    <file>shiphawk.xml</file>
                </shiphawk_shipping>
            </updates>
        </layout>
    </adminhtml>
    <!--<admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <shiphawk_shipping before="Mage_Adminhtml">Shiphawk_Shipping_Adminhtml</shiphawk_shipping>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>-->
    <admin>
        <routers>
            <shiphawk_shipping>
                <use>admin</use>
                <args>
                    <module>Shiphawk_Shipping</module>
                    <frontName>adminshiphawk</frontName>
                </args>
            </shiphawk_shipping>
        </routers>
    </admin>
    <default>
        <carriers>
            <shiphawk_shipping>
                <active>1</active>
                <updates_tracking_url>0</updates_tracking_url>
                <shipment_status_updates>0</shipment_status_updates>
                <sort_order>10</sort_order>
                <model>shiphawk_shipping/carrier</model>
                <item_is_packed>1</item_is_packed>
                <sort_order>10</sort_order>
                <sallowspecific>1</sallowspecific>
                <gateway_url>https://shiphawk.com/api/v1/</gateway_url>
            </shiphawk_shipping>
        </carriers>
    </default>
</config>