<?xml version="1.0"?>
<config>
    <modules>
        <Shiphawk_Shipping>
            <version>0.1.0</version>
        </Shiphawk_Shipping>
    </modules>
    <global>
        <models>
            <shiphawk_shipping>
                <class>Shiphawk_Shipping_Model</class>
            </shiphawk_shipping>
        </models>
        <resources>
            <shiphawk_setup>
                <setup>
                    <module>Shiphawk_Shipping</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </shiphawk_setup>
        </resources>
        <helpers>
            <shiphawk_shipping>
                <class>Shiphawk_Shipping_Helper</class>
            </shiphawk_shipping>
        </helpers>
    </global>
    <frontend>
        <routers>
            <Shiphawk_Shipping>
                <use>standard</use>
                <args>
                    <module>Shiphawk_Shipping</module>
                    <frontName>shiphawk</frontName>
                </args>
            </Shiphawk_Shipping>
        </routers>
    </frontend>
    <default>
        <carriers>
            <shiphawk_shipping>
                <active>1</active>
                <sort_order>10</sort_order>
                <model>shiphawk_shipping/carrier</model>
                <title>Shiphawk Shipping Carrier</title>
                <sort_order>10</sort_order>
                <sallowspecific>1</sallowspecific>
                <express_max_weight>3</express_max_weight>
            </shiphawk_shipping>
        </carriers>
    </default>
</config>