<?xml version="1.0"?>
<config>
  <modules>
    <Shiphawk_All>
      <version>0.1.0</version>
    </Shiphawk_All>
  </modules>
  <global>
    <helpers>
      <shiphawk_all>
        <class>Shiphawk_All_Helper</class>
      </shiphawk_all>
    </helpers>
    <models>
      <shiphawk_all>
          <class>Shiphawk_All_Model</class>
      </shiphawk_all>
    </models>
    <events>
      <admin_session_user_login_success>
          <observers>
              <set_group2>
                  <type>singleton</type>
                  <class>shiphawk_all/observer</class>
                  <method>setDefaultGroup</method>
              </set_group2>
          </observers>
      </admin_session_user_login_success>
        <catalog_product_load_after>
            <observers>
                <shiphawk_shipping_lock_attributes>
                    <type>singleton</type>
                    <class>shiphawk_all/observer</class>
                    <method>lockAttributes</method>
                </shiphawk_shipping_lock_attributes>
            </observers>
        </catalog_product_load_after>
    </events>
  </global>
</config> 